{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Diego Rocha">
    {% block head %}
    <title>Orçamento</title>
    {% endblock head %}
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <link href="{% static "css/main.css" %}" rel="stylesheet">
    {% block custom_head %}
    {% endblock custom_head %}
  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'orcamento:home' %}">Orçamento</a></li>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Orçamentos <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    {% for orcamento in ultimos_orcamentos %}
                    <li><a href="{% url 'orcamento:orcamento' orcamento.ano orcamento.mes %}">{{ orcamento }}</a></li>
                    {% empty %}
                    <li><a href="#">Nenhum orçamento disponível</a></li>
                    {% endfor %}
                    <li role="separator" class="divider"></li>
                    <li><a href="{% url 'orcamento:orcamentos' %}">Todos</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="{% url 'orcamento:estatistica' %}">Estatísticas</a></li>
                  </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav">
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Cartões <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    {% for orcamento in ultimos_orcamentos %}
                        {% for fatura in orcamento.faturas.all %}
                            <li><a href="{% url 'cartao:fatura' fatura.id %}">{{ fatura.descricao }}</a></li>
                        {% endfor %}
                        {% if orcamento.faturas.count > 0 %}
                        <li role="separator" class="divider"></li>
                        {% endif %}
                    {% empty %}
                    <li><a href="#">Nenhuma fatura disponível</a></li>
                    {% endfor %}
                    <li><a href="{% url 'cartao:cartao-terceiros' %}">Compras Terceiros</a></li>
                    <li><a href="{% url 'cartao:cadastrar-compra' %}">Nova compra com cartão</a></li>
                    <li><a href="{% url 'cartao:sms' %}">SMS</a></li>
                    <li><a href="{% url 'cartao:fechar-fatura' %}">Fechar Fatura</a></li>
                  </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Lista de Compras <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                    {% for lista in ultimas_listas %}
                    <li><a href="{% url 'compras:lista' lista.orcamento.ano lista.orcamento.mes %}">{{ lista.orcamento }}</a></li>
                    {% empty %}
                    <li><a href="#">Nenhuma lista disponível</a></li>
                    {% endfor %}
                    <li role="separator" class="divider"></li>
                    <li><a href="{% url 'compras:listas' %}">Todas</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Viagens <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                    {% for viagem in ultimas_viagens %}
                    <li><a href="{% url 'viagem:viagem' viagem.id %}">{{ viagem }}</a></li>
                    {% empty %}
                    <li><a href="#">Nenhuma viagem disponível</a></li>
                    {% endfor %}
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav">
              <li><a href="{% if admin_url %}{{ admin_url }}{% else %}{% url 'admin:index' %}{% endif %}">Admin</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{% if user.is_authenticated %}{{ user.get_username }}{% else %}Usuário{% endif %}<span class="caret"></span></a>
                <ul class="dropdown-menu">
                  {% if user.is_authenticated %}
                  <li><a href="{% url 'logout' %}">Sair</a></li>
                  {% else %}
                  <li><a href="{% url 'login' %}">Login</a></li>
                  {% endif %}
                </ul>
              </li>
            </ul>
          </div>
        </div>
    </nav>
    <div class="row">
        <div class="col-md-10 col-md-offset-1 container">
          {% block content %}
          {% endblock %}
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="{% static 'js/base.js' %}"></script>
    {% block custom_js %}
    {% endblock %}
  </body>
</html>
