{% extends "base.html" %}
{% load static %}
{% load l10n %}
{% block content %}
<div id="chart_div_total">
</div>
<div id="chart_div_mercado">
</div>
<div id="table_mercado" class="col-md-4 col-md-offset-4">
    <table class="table table-bordered">
    <thead>
      <tr>
        <th>Item</th>
        <th>Mínimo</th>
        <th>Média</th>
        <th>Máximo</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Principal</td>
        <td id="avg_0_min"></td>
        <td id="avg_0_med"></td>
        <td id="avg_0_max"></td>
      </tr>
      <tr>
        <td>Outros</td>
        <td id="avg_1_min"></td>
        <td id="avg_1_med"></td>
        <td id="avg_1_max"></td>
      </tr>
      <tr>
        <td>Total</td>
        <td id="avg_2_min"></td>
        <td id="avg_2_med"></td>
        <td id="avg_2_max"></td>
      </tr>
    </tbody>
  </table>
</div>
<div id="chart_div_energia_eletrica" class="col-md-12">
</div>
<div id="chart_div">
    <h2 class="text-center">Carregando dados...</h2>
</div>
{% endblock %}

{% block custom_js %}
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="{% static 'js/estatisticas.js' %}"></script>
{% endblock %}
