{% extends "base.html" %}
{% load static %}
{% load l10n %}
{% block content %}
<div>
    <table class="table table-bordered table-striped table-hover">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Descrição</th>
                <th>Valor Previsto</th>
                <th>Valor Atual</th>
                <th>Valor Pago</th>
                <th>Valor A Pagar</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
        {% for conta in object.contas.all %}
            <tr class="{% if conta.esta_pago %}pago{% endif %}" data-id="{{conta.pk}}">
                <td><span class="text nome">{{conta.nome}}</span><input type="text" class="nome" value="{{conta.nome}}" /></td>
                <td><span class="text descricao">{{conta.descricao}}{% if conta.parcelas > 1 %} {{conta.parcela_atual|stringformat:"02d"}}/{{conta.parcelas|stringformat:"02d"}}{% endif %}</span><input type="text" class="descricao" value="{{conta.descricao}}" /></td>
                <td><span class="text previsto">{{conta.previsto}}</span><input type="number" step="0.1" class="previsto" value="{{conta.previsto|unlocalize}}" /></td>
                <td><span class="text atual">{{conta.atual}}</span><input type="number" step="0.1" class="atual" value="{{conta.atual|unlocalize}}" /></td>
                <td><span class="text">{{conta.pago}}</span><input type="number" step="0.1" class="pago" value="{{conta.pago|unlocalize}}" /></td>
                <td>{{conta.a_pagar}}</td>
                <td>
                    <span class="edit glyphicon glyphicon-pencil"></span>
                    <span class="save glyphicon glyphicon-ok"></span>
                    <span class="cancel glyphicon glyphicon-remove"></span>
                    <span class="delete glyphicon glyphicon-trash"></span>
                </td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="7" class="text-center">Nenhuma conta nesse orçamento</td>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <th colspan="2">Total</th>
                <th>{{object.previsto}}</th>
                <th>{{object.atual}}</th>
                <th>{{object.pago}}</th>
                <th>{{object.a_pagar}}</th>
                <th></th>
            </tr>
        </tfoot>
    </table>
</div>
<div>
    <table class="table table-bordered table-striped table-hover">
        <thead>
            <tr>
                <th>Cartão</th>
                <th>Valor Inicial</th>
                <th>Valor Final</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for fatura in object.faturas.all %}
            <tr>
                <td>{{ fatura.cartao }}</td>
                <td>{{ fatura.valor_inicial|default_if_none:"0" }}</td>
                <td>{{ fatura.valor_final|default_if_none:"" }}</td>
                <td><a href="{% url 'cartao:fatura' fatura.id %}"><span class="edit glyphicon glyphicon-pencil"></span></a></td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="4" class="text-center">Nenhuma fatura nesse orçamento</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}

{% block custom_js %}
<script src="{% static 'js/orcamento.js' %}"></script>
{% endblock %}
