{% extends "base.html" %}
{% load static %}
{% load l10n %}

{% block custom_head %}
    <script src="{% static 'js/iframe-resizer-3.6.3/iframeResizer.min.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="">
        <iframe id="iframe-contas" src="{{ contas.url }}" scrolling="no"></iframe>
    </div>
    <table class="table table-bordered table-striped table-hover">
        <thead>
            <tr>
                <th>Cartão</th>
                <th>Valor Inicial</th>
                <th>Valor Final</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for fatura in object.faturas.all %}
            <tr>
                <td>{{ fatura.cartao }}</td>
                <td>{{ fatura.valor_inicial|default_if_none:"0" }}</td>
                <td>{{ fatura.valor_final|default_if_none:"" }}</td>
                <td><a href="{% url 'cartao:fatura' fatura.id %}"><span class="edit glyphicon glyphicon-pencil"></span></a></td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="4" class="text-center">Nenhuma fatura nesse orçamento</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}

{% block custom_js %}
<script src="{% static 'js/orcamento.js' %}"></script>
{% endblock %}
