{% extends "base.html" %}
{% load static %}
{% load l10n %}

{% block custom_head %}
    <link href="{% static "css/lista-compras.css" %}" rel="stylesheet">
{% endblock custom_head %}

{% block content %}
<div class="panel panel-success">
    <div class="panel-heading">Filtro</div>
    <div class="panel-body">
        <input type="checkbox" id="cbFiltroComprar" value="">&nbsp;<label for="cbFiltroComprar">Apenas itens para comprar</label>
        <div class=""></div>
    </div>
</div>
    {% regroup object.itemcompra_set.all by item.secao as secoes %}
    {% for secao in secoes %}
        <h5 class="secao-title">{{ secao.grouper }}</h5>
        <table class="table table-bordered table-hover table-itens">
            <thead>
                <tr>
                    <th>Item</th>
                    <th class="short-column">Quantidade</th>
                    <th class="short-column">Comprar</th>
                    <th class="short-column">Comprado</th>
                </tr>
            </thead>
            <tbody>
            {% for item_lista in secao.list %}
                <tr class="{{item_lista.comprar|yesno:',nao-comprar'}} {{item_lista.comprado|yesno:',item-nao-comprado'}}" data-id="{{item_lista.pk}}" data-comprar="{{item_lista.comprar}}">
                    <td>{{item_lista.item}}</td>
                    <td class="short-column">{{item_lista.quantidade}}</td>
                    <td class="short-column"><input type="checkbox" class="comprar" id="comprar_{{item_lista.pk}}" data-id="{{item_lista.pk}}" value="" {{item_lista.comprar|yesno:"checked,"}}/></td>
                    <td class="short-column"><input type="checkbox" class="comprado" id="comprado_{{item_lista.pk}}" data-id="{{item_lista.pk}}" value="" {{item_lista.comprado|yesno:"checked,"}}/></td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="4">Nenhum item nessa lista</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endfor %}
{% endblock %}

{% block custom_js %}
<script src="{% static 'js/compras.js' %}"></script>
{% endblock %}
