.pago {
    opacity: 0.6;
}
td input {
    width: 100%;
}
.grafico_estatistica{
    margin-bottom: 50px;
}
#table_mercado {
    display: none;
}
.item-nao-comprado {
    font-weight: bold;
}
.nao-comprar{
    text-decoration: line-through;
    font-weight: normal !important;
}
.item-lista-orcamento{
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
}
.item-lista-orcamento a {
    color: inherit;
    text-decoration: none;
}

iframe {
    border: 0;
    width: 1px;
    min-width: 100%;
}
