.pago {
    opacity: 0.6;
}
td input {
    width: 100%;
}
.grafico_estatistica{
    margin-bottom: 50px;
}
#table_mercado {
    display: none;
}
.item-nao-comprado {
    font-weight: bold;
}
.nao-comprar{
    text-decoration: line-through;
    font-weight: normal !important;
}